.verCode {
  display: flex;
  align-items: center;
  position: relative;
  .cln-input {
    height: 60px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0%;
    flex: 1;
  }
  .my-button {
    position: absolute;
    background: green;
    color: white;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
  }
  .activeClass {
    background: #cccccc;
    pointer-events:none
  }
}
